@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.logout-btn{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    background: none;
    margin-right: 33px;
    background: white;
    border: 2px solid #F28705;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 6px;
    padding-right: 12px;
    padding-left: 12px;
}

.logout-btn:hover{
    border-radius: 25px;
    transition: all 0.2s ease;
}