@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Staatliches&display=swap');

.heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    padding-left: 2.5%;
    padding-top: 2%;
    color: #414141;
    padding-top: 4%;
}

.submit-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 10px;
}

.text-container{
    padding-bottom: 15px;
}

.post-input{
    width: 100%;
    height: 70px;
    padding-bottom: 30px;
    padding-left: 10px;
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 6px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.post-image-input{
    width: 100%;
    height: 40px;
    padding-bottom: 2px;
    padding-left: 10px;
    background-color: rgb(243, 243, 243);
    border: none;
    border-radius: 6px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


.submit-button{
    background: white;
    border: 2px solid #F28705;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}

.submit-button-container{
    padding-top: 25px;
    float: right;
}

.user {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding-left: 2.5%;
    padding-bottom: 2%;
    color: #414141;
}

.break{
    width: 94.5%;
    margin-left: 2.5%;
    margin-bottom: 3%;
    border: 1px solid rgb(235, 235, 235);
}

.myPosts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container{
    padding-left: 2.5%;
}

.form-layout{
    background-color: rgb(255, 255, 255);
    width: 97%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.048);
    padding-bottom: 85px;
}

.submit-button:hover{
    border-radius: 25px;
    transition: all 0.2s ease;
}

.noPosts-paragraph{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 5%;
    padding-bottom: 1%;
    color: #414141;
    margin: auto;
    width: 50%;
    text-align: center;
}

.post-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 2%;
    color: #414141;
    margin-left: 2.5%;
}

.posts-break{
    width: 94.5%;
    margin-left: 2.5%;
    margin-top: 1.8%;
    border: 1px solid rgb(235, 235, 235);
}

